:root {
  --color-background-400: #fffaf3;
  --color-background-500: #faf4ed;
  --color-background-600: #f2e9e1;

  --color-foreground-300: #9893a5;
  --color-foreground-400: #797593;
  --color-foreground-500: #575279;

  --color-primary-500: #56949f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-500);
}

button {
  cursor: pointer;
}

p {
  color: var(--color-foreground-500);
}
